html {
	background: 
		linear-gradient(to right, rgba(67,198,172, 0.8), rgba(25,22,84, 0.8));
    background-repeat: no-repeat;
}

body {
	font-family: montserrat, arial, verdana;
}
h1 {
    text-align: center;
}

form {
  max-width: 700px;
  margin: 10px auto;
  padding: 20px 20px;
  background: #f4f7f8;
  border-radius: 10px;
  box-shadow: 10px 10px 3px #E5E1D6;   
}

fieldset {
  margin-bottom: 30px;
  border: 1px;
}
    

input[type="text"],
select {
    padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom:8px;
    margin-left: 5px;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

input[type="submit"] {
    background: rgba(67,198,172, 0.8);
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
    display: block;
    margin: 0 auto;
    font-size: 15px;
    padding: 10px;
}

.category {
    background-color:rgba(67,198,172, 0.8);
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 15px;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    border-radius: 10%;
    margin-bottom: 10px;
    margin-right: 10px;
}

